{if="$error != ''"}

{if="$error == 'AUTOMACAO_EXIST'"}
<script>
	swal("A última data já foi gerada.", "", "info");
</script>
{/if}

{if="$error == 'user_where'"}
<script>
	swal("Não digite WHERE.", "", "error");
</script>
{/if}

{if="$error == 'PARAMETROS_ATT'"}
<script>
	swal("Parâmetros atualizados com sucesso.", "", "success");
</script>
{/if}

{if="$error == 'sem_conexao'"}
<script>
	swal("Sem conexão com o banco de dados.", "", "error");
</script>
{/if}

{if="$error == 'TABELA_JA_CADASTRADA'"}
<script>
	swal("Tabela já cadastrada para essa rotina.", "", "error");
</script>
{/if}

{if="$error == 'ROTINA_NOTFOUND'"}
<script>
	swal("Rotina não encontrada na sua base.", "", "error");
</script>
{/if}

{if="$error == 'EMPTY_POSTPRE QUERY/WHERE'"}
<script>
	swal("Preencha todos os WHERES da pré-condição.", "", "warning");
</script>
{/if}

{if="$error == 'EMPTY_POSTRES QUERY/WHERE'"}
<script>
	swal("Preencha todos os WHERES do resultado esperado.", "", "warning");
</script>
{/if}

{if="$error == 'EMPTY_QUERYS'"}
<script>
	swal("Preencha todos as QUERYS.", "", "warning");
</script>
{/if}

{if="$error == 'page_undefined'"}
<script>
	swal({
			title: "Página não encontrada.",
			text: "Você foi redirecionado(a) para página inicial.",
			icon: "error"
		})
		.then((value) => {
			window.location.assign("/");
		});
</script>
{/if}

{if="$error == 'database_undefined'"}
<script>
	swal("Seu banco de dados ainda não foi configurado.", "", "error");
	swal({
			title: "Banco de dados não conectado.",
			text: "Seu banco de dados ainda não foi configurado. Você foi redirecionado(a) para página de configuração.",
			icon: "error"
		})
		.then((value) => {
			window.location.assign("/");
		});
</script>
{/if}

{/if}