<div class="content-wrapper">
	<section class="content-header">
		<h1>
			Gerar Kanoah
		</h1>
	</section>
	<!-- <select class="form-control" id="modulo" name="modulo">
			<option value="">Selecione os parâmetros</option>
			{loop="$parametros"}
			<option value="{$value}">{$value}</option>
			{/loop}
		</select> -->

	<section class="content">
		<div class="row">
			<form action="/kanoah/rotina/gerar" method="POST" enctype="multipart/form-data">
				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-body">
							<div class="col-md-6">
								<label for="modulo">Módulo: </label>
								<input type="text" class="form-control" name="modulo" id="modulo" readonly value={$modulo}>
								<label for="rotina">Rotina: </label>
								<input type="text" class="form-control" name="rotina" id="rotina" readonly value={$rotina}>
							</div>
							<div class="col-md-6">
								<label for="modulo">Grupo de empresa: </label>
								<input type="text" class="form-control" name="grupo" id="grupo" value="T1">
								<label for="modulo">Filial: </label>
								<input type="text" class="form-control" name="filial" id="filial" value="D MG 01 ">
								<label for="modulo">Data base: </label>
								<input type="date" class="form-control" name="database" id="database">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">Pré-condições</h3>
						</div>
						<div class="box-body">
							{loop="$tabelas.precondicao"}
							{loop="$value"}
							<label for="PRE{$key}QUERY" onclick="copiar('PRE{$key}QUERY')">{$key}</label><br>
							<textarea class="form-control" name="PRE{$key}QUERY" id="PRE{$key}QUERY" cols="50"
								rows="3">{$value}</textarea><br>
							{/loop}
							{/loop}
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">Where</h3>
						</div>
						<div class="box-body">
							{loop="$tabelas.precondicao"}
							{$aux=$key+1}
							{loop="$value"}
							<label for="PRE{$key}WHERE" onclick="copiar('PRE{$key}WHERE')">{$key}</label><br>
							<textarea class="form-control" name="PRE{$key}WHERE" id="PRE{$key}WHERE" cols="50" rows="3"
								tabindex={$aux}></textarea><br>
							{/loop}
							{/loop}
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">Resultado esperado</h3>
						</div>
						<div class="box-body">
							{loop="$tabelas.resultado"}
							{loop="$value"}
							<label for="RES{$key}QUERY" onclick="copiar('RES{$key}QUERY')">{$key}</label><br>
							<textarea class="form-control" name="RES{$key}QUERY" id="RES{$key}QUERY" cols="50"
								rows="3">{$value}</textarea><br>
							{/loop}
							{/loop}
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">Where</h3>
						</div>
						<div class="box-body">
							{loop="$tabelas.resultado"}
							{$aux+=1}
							{loop="$value"}
							<label for="RES{$key}WHERE" onclick="copiar('RES{$key}WHERE')">{$key}</label><br>
							<textarea class="form-control" name="RES{$key}WHERE" id="RES{$key}WHERE" cols="50" rows="3"
								tabindex="{$aux}"></textarea><br>
							{/loop}
							{/loop}
						</div>
					</div>
				</div>


				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-body">
							<button type="submit" tabindex="{$aux+1}" class="btn btn-success">Enviar</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
</div>