<div class="content-wrapper">
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Módulos cadastrados</h3>

						<div class="box-tools">
							<a href="/modulos/add"><i class="fa fa-codepen"></i> <span>Adicionar Módulo</span></a>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tr>
								<th>Módulo</th>
								<th>Nº Rotina</th>
								<th>Nº Parâmetros</th>
								<th>Ações</th>
							</tr>
							{loop="$modulos"}
							<tr>
								<td>{$value.MODULO}</td>
								<td>{$value.ROTINAS}</td>
								<td>{$value.PARAMETROS}</td>
								<td>
									<a href="/modulos/{$value.MODULO}/add/rotina"><i class="fa fa-clone"></i>
										<span>Adicionar Rotina</span></a>
									&nbsp; | &nbsp;
									<a href="/modulos/{$value.MODULO}/add/parametro"><i class="fa fa-area-chart"></i>
										<span>Adicionar Parâmetro</span></a>
									&nbsp; | &nbsp;
									<a href="/modulos/{$value.MODULO}"><i class="fa fa-search"></i>
										<span>Visualizar módulo</span></a>
								</td>
							</tr>
							{/loop}
						</table>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
		</div>
	</section>
</div>