<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Módulo <small>{$modulo}</small>
    </h1>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Rotinas</h3>
          </div>
          <div class="box-body">

            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>#</th>
                  <th>Rotina</th>
                  <th>Ações</th>
                </tr>

                {loop="$rotinas"}
                <tr>
                  <td>{$key+1}</td>
                  <td>{$value}</td>
                  <td>
                    <a href="/modulos/{$modulo}/delete/rotina/{$value}">
                      <i class="fa fa-close"></i><span> Excluir</span>
                    </a>
                    &nbsp; | &nbsp;
                    <a href="/rotinas/{$value}">
                      <i class="fa fa-search"></i><span>Visualizar rotina</span>
                    </a>
                  </td>
                </tr>
                {/loop}
              </table>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Parâmetros</h3>
          </div>
          <div class="box-body">

            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>#</th>
                  <th>Parâmetros</th>
                  <th>Ações</th>
                </tr>

                {loop="$parametros"}
                <tr>
                  <td>{$key+1}</td>
                  <td>{$value}</td>
                  <td>
                    <!-- <a href="/modulos/{$modulo}/delete/parametro/{$value}"> -->
                    <button onclick="deletar('/modulos/{$modulo}/delete/parametro/{$value}')">A</button>
                      <i class="fa fa-close"></i><span> Excluir</span>
                    </a>
                  </td>
                </tr>
                {/loop}
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>