<div class="content-wrapper">
	<section class="content-header">
		<h1>
			Módulos
		</h1>
		<br>
		<div class="box-tools">
			<a style="cursor: pointer" onclick="criarModulo()"><i class="fa fa-codepen"></i> <span>Adicionar Módulo</span></a>
		</div>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				{loop="$modulos"}
				{loop="$value"}
				<div class="col-md-3">
					<!-- Widget: user widget style 1 -->
					<div class="box box-widget widget-user-2">
						<!-- Add the bg color to the header using any of the bg-* classes -->
						<div class="widget-user-header label-primary">
							<div class="widget-user-image">
								<a href="/modulo/{$value}">
									<h3 style="color: white">{$value} <i class="fa fa-arrow-circle-right"></i></h3>
								</a>
							</div>

						</div>
						<div class="box-footer no-padding">
							<ul class="nav nav-stacked">
								<li><a href="/modulo/{$value}">Rotinas <span
											class="pull-right badge bg-blue">31</span></a></li>

								<li><a href="/modulo/{$value}">Parâmetros <span
											class="pull-right badge bg-blue">5</span></a></li>
							</ul>
						</div>
					</div>
					<!-- /.widget-user -->
				</div>
				{/loop}
				{/loop}
				<!-- /.box-body -->
				<!-- /.box -->
			</div>
		</div>
	</section>
</div>

<script>
function criarModulo() {
	swal({
		icon: "info",
		title: "Criar módulo",
		text: "Nome do módulo:",
		buttons: [
			"Cancelar",
			"Criar"
		],
		dangerMode: true,
		content: {
			element: "input",
			attributes: {
				type: "text",
			},
		},
	}).then((Criar) => {
		if (Criar) {
			console.log(Criar);
			$.post('/modulo/criar', {modulo: Criar}, function(data) {
				console.log(data)
				if (data) {
					swal("Módulo criado!", {
						icon: "success",
					}).then(() => {
						window.location.reload();
					});
				}
			}).fail(function() {
				swal({
					icon: "error",
					title: "Ooops!",
					text: "Não foi possível criar o módulo.",
				});
			});
		}
	});
}
</script>
