<div class="content-wrapper">
		<section class="content-header">
			<h1>
				Rotinas
			</h1>
			<br>
			<div class="box-tools">
				<a href="/rotina/add"><i class="fa fa-codepen"></i> <span>Adicionar Rotina</span></a>
			</div>
		</section>
		<section class="content">
			<div class="row">
				<div class="col-xs-12">
					{loop="$rotinas"}
					<div class="col-md-3">
						<div class="box box-widget widget-user-2">
							<div class="widget-user-header label-primary">
								<div class="widget-user-image">
									<a href="/rotina/{$value.rotina}">
										<h3 style="color: white">{$value.rotina} <i class="fa fa-arrow-circle-right"></i></h3>
									</a>
								</div>
	
							</div>
							<div class="box-footer no-padding">
								<ul class="nav nav-stacked">
									<li><a href="/rotina/{$value.rotina}">Tabelas <span class="pull-right badge bg-blue">{$value.tabelas}</span></a></li>
	
									<li><a href="/rotina/{$value.rotina}">Parâmetros <span class="pull-right badge bg-blue">{$value.parametros}</span></a></li>
								</ul>
							</div>
						</div>
					</div>
					{/loop}
				</div>
			</div>
		</section>
	</div>