<div class="content-wrapper">
	<section class="content-header">
		<h1>
			Rotinas
		</h1>
		<br>
		<div class="box-tools">
			<a style="cursor: pointer" onclick="adicionarRotina()"><i class="fa fa-codepen"></i> <span>Adicionar
					Rotina</span></a>
		</div>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				{loop="$rotinas"}
				<div class="col-md-2">
					<div class="box box-widget widget-user-2">
						<div class="widget-user-header label-primary">
							<div class="widget-user-image">
								<a href="/rotina/{$value.rotina}">
									<h3 style="color: white; font-family: monospace;">{$value.rotina} <i class="fa fa-arrow-circle-right"></i>
									</h3>
								</a>
							</div>

						</div>
					</div>
				</div>
				{/loop}
			</div>
		</div>
	</section>
</div>
<script>
	function adicionarRotina() {
		swal({
			icon: "info",
			title: "Adicionar rotina",
			text: "Nome do rotina:",
			buttons: [
				"Cancelar",
				"Adicionar"
			],
			dangerMode: true,
			content: {
				element: "input",
				attributes: {
					type: "text",
				},
			},
		}).then((Adicionar) => {
			swal({
				title: "Carregando...",
				icon: "/res/loading.gif",
				onOpen: () => {
					swal.showLoading()
				}
			});

			if (Adicionar) {
				$.post('/rotina/add', {
					rotina: Adicionar
				}, function (data) {
					if (data) {
						swal("Rotina criada!", {
							icon: "success",
						}).then(() => {
							window.location.reload();
						});
					}
				}).fail(function () {
					swal({
						icon: "error",
						title: "Ooops!",
						text: "Não foi possível adicionar a rotina.",
					});
				});
			}
		});
	}
</script>