<form action="/gerarkanoah" method="GET">
	<!-- Módulo selecionado no index.hmtl -->
	<label for="modulo">Módulo selecionado:
		<input type="text" name="modulo" value="{$modulo}" readonly>
	</label>
	<br><br>
	<!-- Rotina selecionada no index.hmtl -->
	<label for="rotina">Rotina selecionada:
		<input type="text" name="rotina" value="{$rotina}" readonly>
	</label>
	<br><br>
	<!-- Tabelas da rotina -->
	<label>Tabelas:</label>
	<br>
	{loop="$tabelas"}
	<label>{$value.TABELA}<button type="button" onclick="copiarQuery('QUERY{$value.TABELA}')">Copiar Query</button>
		<textarea id="QUERY{$value.TABELA}" cols="30" rows="3"
			readonly>{$value.QUERY}</textarea>
	</label>
	{$campos = $value.CAMPOS}
	<textarea cols="20" rows="3" readonly>
		{loop="$campos"}
			{$value}
		{/loop}
	</textarea>
	<br>
	{/loop}
	<br>
	<label>Dependencias:</label>
	<br>
	{loop="$dependencias"}
	<label for=""><a href="/tabela/{$value.TABELA}" target="_blank">{$value.TABELA}</a>
		<select name="{$value.TABELA}" id="{$value.TABELA}">
			<option value="query">Query</option>
			{loop="$value.REGISTROS"}
			<option value="{$key}">{$key}</option>
			{/loop}
		</select>
		<button type="button" onclick="copiarQuery('QUERY{$value.TABELA}')">Copiar Query</button>
		<textarea id="QUERY{$value.TABELA}" cols="30" rows="3" readonly>{$value.QUERY}</textarea>
	</label>
	<br>
	{/loop}

	<label for="resultado">Querys aqui:
		<textarea name="resultado" id="resultado" cols="30" rows="10"></textarea>
	</label>
	<br>
	<input type="submit" value="Enviar">
</form>