<div class="content-wrapper">
	<section class="content-header">
		<h1>
			Gerar Kanoah
		</h1>
	</section>
	<section class="content">
		<div class="row">
			<!-- <form action="/kanoah/rotina/gerar" method="POST" enctype="multipart/form-data"> -->
				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-body">
							<div class="col-md-6">
								<label for="modulo">Módulo: </label>
								<input type="text" class="form-control" name="modulo" id="modulo" readonly
									value={$modulo}>
								<label for="rotina">Rotina: </label>
								<input type="text" class="form-control" name="rotina" id="rotina" readonly
									value={$rotina}>
							</div>
							<div class="col-md-6">
								<label for="modulo">Grupo de empresa: </label>
								<input type="text" class="form-control" name="grupo" id="grupo" value="T1">
								<label for="modulo">Filial: </label>
								<input type="text" class="form-control" name="filial" id="filial" value="D MG 01 ">
								<label for="modulo">Data base: </label>
								<input type="date" class="form-control" name="database" id="database">
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-body">
							<button onclick="nada()" class="btn btn-success">Iniciar</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
</div>